<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przepisy</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'przepis/style.css' %}" />
</head>
<body>
    <div class = "header">
        <a href="{% url 'index' %}">
            <div class = "logo">
                Smakuj<span style="color: #9ACD32">.PL</span>
            </div>
        </a>
    </div>
    <div class="nav">
        <ol class="ol">
            <li ><a href="{% url 'index' %}">Strona Głowna</a></li>
            <li><a href="{% url 'dish_add' %}">Dodaj Przepis</a></li>
            <li><a href="{% url 'category_add' %}">Dodaj Kategorie</a></li>
            <div style="float: right; margin-right: 20px">
                <li ><a href="{% url 'register' %}">Dodaj uzytkownika</a></li>
            </div>

        </ol>
    </div>


{% block body %}
{% endblock %}
</body>
</html>